*,*::before,*::after, root, html{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
body{
	box-sizing: inherit;
	min-height: 100%;
	width: auto;
}
.container{
	display: flex;
	align-items: center;
    justify-content: center;
    flex-direction: column;
}

#preview{
	width: 100%;
	max-height: 100%;
 }

 .container-video{
 	height: 30%;
 	width: 40%;
 	margin-top: 4rem;
 	margin-bottom: 2rem;
 }
.success{
	color: green;
}

